<html>
  <head>
    <title>VERIFICATION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      href="https://sahrtpcr7.iteasyservices.com/image/logo.png"
    />
    <style>
      @font-face {
        font-family: "Product Sans";
        font-style: normal;
        font-weight: 400;
        src: local("Open Sans"), local("OpenSans"),
          url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
            format("woff2");
      }

      * {
        padding: 0px;
        margin: 0px;
      }

      body {
        background: rgba(0, 0, 0, 0.7);
        font-family: Product Sans;
        text-align: justify;
      }

      .default {
        background: blue;
      }

      .NEGATIVE {
        background: green;
      }

      .POSITIVE {
        background: red;
      }

      .defaultTEXT {
        color: blue;
      }

      .NEGATIVETEXT {
        color: green;
      }

      .POSITIVETEXT {
        color: red;
      }
    </style>
  </head>

  <body>
    <div align="center">
      <div
        style="
          border-bottom: 1px solid black;
          background: #fff;
          padding: 30px;
          text-align: left;
        "
      >
        <a class="navbar-brand" href="https://sahrtpcr7.iteasyservices.com">
          <img
            src="https://sahrtpcr7.iteasyservices.com/image/logo.png"
            height="50px;"
          />
        </a>
      </div>

      <div
        style="
          max-width: 500px;
          margin: 100px 10px;
          background: #fff;
          border-radius: 5px;
          padding: 10px;
          box-shadow: 0 0 50px black;
          text-align: left;
        "
      >
        <table
          border="0"
          style="vertical-align: middle; border-collapse: collapse"
          width="100%"
          ;
        >
          <tr>
            <td
              id="product-sans"
              style="
                text-align: right;
                vertical-align: middle;
                padding-bottom: 10px;
              "
            >
              <img
                src="https://sahrtpcr7.iteasyservices.com/image/check.png"
                width="60px;"
              />
            </td>
            <td
              style="color:#008000;font-size:1.5rem;text-align: leftvertical-align: middle;   padding:-bottom:10px;"
            >
              <b>VERIFIED</b>
            </td>
          </tr>
          <tr>
            <!-- <td style="vertical-align: middle; padding-top: 10px; font-size: x-large;" colspan="2">
				<b>PADILLA, JASON HERMOSO</b>
				</td> -->
          </tr>
          <tr>
            <td
              id="product-sans"
              style="
                font-size: 1.5rem;
                text-align: center;
                vertical-align: middle;
                color: #fff;
                padding: 10px;
                border-radius: 10px;
              "
              class="default POSITIVE"
              colspan="2"
            >
              POSITIVE
            </td>
          </tr>
          <tr>
            <td
              id="product-sans"
              style="vertical-align: middle; padding: 10px"
              colspan="2"
            >
              <center>
                This is a valid proof that
                <b>CABRERA, REGIELYN MARCION LAUREL</b> has been tested for
                <br />
                COVID-19 by
                <b> Sta Ana Hospital Manila Molecular Laboratory</b>, <br />
                released on <b>TUESDAY Jan 25,2022 09:38 PM</b> and is marked as
                <p style="font-weight: bold" class="POSITIVETEXT">POSITIVE</p>
              </center>
            </td>
          </tr>

          <tr>
            <td
              id="product-sans"
              style="
                text-align: center;
                vertical-align: middle;
                padding-bottom: 10px;
              "
            >
              <img
                src="https://sahrtpcr7.iteasyservices.com/image/logo.png"
                width="80px;"
              />
            </td>
            <td
              id="product-sans"
              style="
                text-align: center;
                vertical-align: middle;
                padding-bottom: 10px;
              "
            >
              <img
                src="https://sahrtpcr7.iteasyservices.com/image/doh.png"
                width="80px;"
              />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
